### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
total_players = purchase_data['SN'].nunique()
total_players_df = pd.DataFrame({"Total Players":[total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
unique_items = purchase_data['Item Name'].nunique()
average_price = round(purchase_data['Price'].mean(), 2)
avg_price_dollar = f'${average_price}'
total_count = purchase_data['Price'].count()
total_revenue = '{0:,.2f}'.format(sum(purchase_data['Price']))
total_revenue_dollar = f'${total_revenue}'
revenue_summary_df = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[avg_price_dollar],
                          "Number of Purchases":[total_count], "Total Revenue":[total_revenue_dollar]})
revenue_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [125]:
dc = purchase_data.groupby(['Gender'])['SN'].unique()
demographic_df = dc.reset_index(name='Unique Values')

demographic_count = demographic_df['Unique Values'].str.len()
demographic_df["Total Count"] = demographic_count

demographic_percent = round((demographic_df['Total Count']/total_players)*100, 2)
demographic_df["Percentage of Players"] = demographic_percent
demographic_df = demographic_df.drop('Unique Values', axis=1)

demographic_df

                  Gender  Total Count  Percentage of Players
0                 Female           81                  14.06
1                   Male          484                  84.03
2  Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [120]:
demographic_groupby = purchase_data.groupby(["Gender"])

demographic_groupby_count = demographic_groupby['Price'].count()
demographic_groupby_price = round(demographic_groupby['Price'].mean(), 2)
demographic_groupby_total = demographic_groupby['Price'].sum()

demographic_merge = pd.merge(demographic_groupby_count, demographic_groupby_price, on="Gender")
demographic_merge = pd.merge(demographic_merge, demographic_groupby_total, on="Gender")
demographic_merge = pd.merge(demographic_df, demographic_merge, on="Gender")

demographic_merge = demographic_merge.rename(columns={"Price_x":"Purchase Count",
                                                      "Price_y":"Average Purchase Price", 
                                                      "Price":"Total Purchase Value"})

demographic_merge["Avg Total Purchase per Person"] = round(demographic_merge["Total Purchase Value"]/demographic_merge["Total Count"], 2)
demographic_merge = demographic_merge.drop(['Total Count', 'Percentage of Players'], axis=1)
demographic_merge

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,3.20,361.94,4.47
1,Male,652,3.02,1967.64,4.07
2,Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [144]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Summary"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
age_summary_count = purchase_data.groupby('Age Summary')['SN'].nunique()

#age_summary_count
age_summary_df = pd.DataFrame(age_summary_count)
age_summary_df = age_summary_df.rename(columns={"SN":"Total Count"})

age_summary_percent = round((age_summary_df['Total Count']/total_count)*100, 2)

age_summary_df["Percentage of Players"] = age_summary_percent
age_summary_df

             Total Count  Percentage of Players
Age Summary
<10                   24                   3.08
10-14                 41                   5.26
15-19                150                  19.23
20-24                232                  29.74
25-29                 59                   7.56
30-34                 37                   4.74
35-39                 26                   3.33
40+                    7                   0.90

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [146]:
purchasebyage_groupby = purchase_data.groupby(["Age Summary"])

purchasebyage_groupby_count = purchasebyage_groupby['Price'].count()
purchasebyage_groupby_price = round(purchasebyage_groupby['Price'].mean(), 2)
purchasebyage_groupby_total = purchasebyage_groupby['Price'].sum()

purchasebyage_merge = pd.merge(purchasebyage_groupby_count, purchasebyage_groupby_price, on="Age Summary")
purchasebyage_merge = pd.merge(purchasebyage_merge, purchasebyage_groupby_total, on="Age Summary")
purchasebyage_merge = pd.merge(age_summary_df, purchasebyage_merge, on="Age Summary")

purchasebyage_merge = purchasebyage_merge.rename(columns={"Price_x":"Purchase Count",
                                                      "Price_y":"Average Purchase Price", 
                                                      "Price":"Total Purchase Value"})

purchasebyage_merge["Avg Total Purchase per Person"] = round(purchasebyage_merge["Total Purchase Value"]/purchasebyage_merge["Total Count"], 2)
purchasebyage_merge = purchasebyage_merge.drop(['Total Count', 'Percentage of Players'], axis=1)

purchasebyage_merge

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Summary,,,,
<10,32,3.40,108.96,4.54
10-14,54,2.90,156.60,3.82
15-19,200,3.11,621.56,4.14
20-24,325,3.02,981.64,4.23
25-29,77,2.88,221.42,3.75
30-34,52,2.99,155.71,4.21
35-39,33,3.40,112.35,4.32
40+,7,3.08,21.53,3.08

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [178]:
purchasebysn_groupby = purchase_data.groupby("SN")['Price'].nunique()
purchasebysn_df = purchasebysn_groupby.reset_index(name='Unique Values')

purchasebysn_df = purchasebysn_df.sort_values('Unique Values',ascending = False).head(5)

purchasebysn_merge = pd.merge(purchasebysn_df, purchase_data, on="SN")

#purchasebysn_merge

sn_groupby = purchasebysn_merge.groupby(["SN"])

purchasebysn_groupby_count = sn_groupby['Price'].count()
purchasebysn_groupby_price = round(sn_groupby['Price'].mean(), 2)
purchasebysn_groupby_total = sn_groupby['Price'].sum()

sn_merge = pd.merge(purchasebysn_groupby_count, purchasebysn_groupby_price, on="SN")
sn_merge = pd.merge(sn_merge, purchasebysn_groupby_total, on="SN")

sn_merge = sn_merge.rename(columns={"Price_x":"Purchase Count",
                                    "Price_y":"Average Purchase Price", 
                                    "Price":"Total Purchase Value"})

sn_merge

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Idastidru52               4                    3.86                 15.45
Inguron55                 3                    3.70                 11.11
Iral74                    4                    3.40                 13.62
Iri67                     3                    3.79                 11.37
Lisosia93                 5                    3.79                 18.96

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [197]:
popularitem_df = purchase_data[["Item ID","Item Name","Price"]]
popularitem_groupby = popularitem_df.groupby(["Item ID","Item Name"])

popularitem_groupby_count = popularitem_groupby.count()
purchasebysn_groupby_price = round(popularitem_groupby.mean(), 2)
purchasebysn_groupby_total = popularitem_groupby.sum()

item_merge = pd.merge(popularitem_groupby_count, purchasebysn_groupby_price, on=["Item ID","Item Name"])
item_merge = pd.merge(item_merge, purchasebysn_groupby_total, on=["Item ID","Item Name"])

item_merge = item_merge.rename(columns={"Price_x":"Purchase Count",
                                    "Price_y":"Item Price", 
                                    "Price":"Total Purchase Value"})

item_merge.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4        1.28                  5.12
1       Crucifer                         3        3.26                  9.78
2       Verdict                          6        2.48                 14.88
3       Phantomlight                     6        2.49                 14.94
4       Bloodlord's Fetish               5        1.70                  8.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [198]:
item_merge = item_merge.sort_values('Purchase Count',ascending = False).head(5)
item_merge

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16