### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Calculations for the total number of players
total_players = purchase_data['SN'].nunique()
total_players_df = pd.DataFrame({"Total Players":[total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Number of Unique Items
unique_items = purchase_data['Item Name'].nunique()

#Get Avg Price
average_price = round(purchase_data['Price'].mean(), 2)
avg_price_dollar = f'${average_price}'

#Calculate the total count
total_count = purchase_data['Price'].count()
total_revenue = '{0:,.2f}'.format(sum(purchase_data['Price']))
total_revenue_dollar = f'${total_revenue}'

#Make a dataframe of all the above values
revenue_summary_df = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[avg_price_dollar],
                          "Number of Purchases":[total_count], "Total Revenue":[total_revenue_dollar]})
revenue_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
#Get the unique gender counts and make a dataframe
dc = purchase_data.groupby(['Gender'])['SN'].unique()
demographic_df = dc.reset_index(name='Unique Values')

demographic_count = demographic_df['Unique Values'].str.len()
demographic_df["Total Count"] = demographic_count

#Calculate the percentage of players by gender
demographic_percent = round((demographic_df['Total Count']/total_players)*100, 2)
demographic_df["Percentage of Players"] = demographic_percent
demographic_df = demographic_df.drop('Unique Values', axis=1)

#Styple it and display the dataframe
demographic_clean_df = demographic_df.style.format({'Percentage of Players':'{:.2f}%'})
demographic_clean_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#Get a group by on gender and get the count, mean and sum based on the price
demographic_groupby = purchase_data.groupby(["Gender"])

demographic_groupby_count = demographic_groupby['Price'].count()
demographic_groupby_price = round(demographic_groupby['Price'].mean(), 2)
demographic_groupby_total = demographic_groupby['Price'].sum()

#Merge the calculations made above based on gender. 
demographic_merge = pd.merge(demographic_groupby_count, demographic_groupby_price, on="Gender")
demographic_merge = pd.merge(demographic_merge, demographic_groupby_total, on="Gender")
demographic_merge = pd.merge(demographic_df, demographic_merge, on="Gender")

#Rename the columns appropriately
demographic_merge = demographic_merge.rename(columns={"Price_x":"Purchase Count",
                                                      "Price_y":"Average Purchase Price", 
                                                      "Price":"Total Purchase Value"})

#Calculate the average total purchase per person
demographic_merge["Avg Total Purchase per Person"] = round(demographic_merge["Total Purchase Value"]/demographic_merge["Total Count"], 2)

#Format the dataframe according to the requirements and display
demographic_merge = demographic_merge.drop(['Total Count', 'Percentage of Players'], axis=1)
demographic_merge = demographic_merge.style.format({'Average Purchase Price':'${:.2f}',
                                                    'Total Purchase Value':'${:.2f}',
                                                    'Avg Total Purchase per Person':'${:.2f}'})
demographic_merge

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
#The needed bins and their respective labels
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Adding the new column to the original content
purchase_data["Age Summary"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

#Get a group by based on the new field, SN and make a new dataframe out of it 
age_summary_count = purchase_data.groupby('Age Summary')['SN'].nunique()

age_summary_df = pd.DataFrame(age_summary_count)
age_summary_df = age_summary_df.rename(columns={"SN":"Total Count"})

#calculate the percentage of players in each bin
age_summary_percent = round((age_summary_df['Total Count']/total_count)*100, 2)
age_summary_df["Percentage of Players"] = age_summary_percent

#format it and print
age_summary_clean_df = age_summary_df.style.format({'Percentage of Players':'{:.2f}%'})
age_summary_clean_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
#Get a group by on Age Summary and get the count, mean and sum based on the price
purchasebyage_groupby = purchase_data.groupby(["Age Summary"])

purchasebyage_groupby_count = purchasebyage_groupby['Price'].count()
purchasebyage_groupby_price = round(purchasebyage_groupby['Price'].mean(), 2)
purchasebyage_groupby_total = purchasebyage_groupby['Price'].sum()

#Merge the calculations made above based on Age Summary. 
purchasebyage_merge = pd.merge(purchasebyage_groupby_count, purchasebyage_groupby_price, on="Age Summary")
purchasebyage_merge = pd.merge(purchasebyage_merge, purchasebyage_groupby_total, on="Age Summary")
purchasebyage_merge = pd.merge(age_summary_df, purchasebyage_merge, on="Age Summary")

#Rename the columns appropriately
purchasebyage_merge = purchasebyage_merge.rename(columns={"Price_x":"Purchase Count",
                                                      "Price_y":"Average Purchase Price", 
                                                      "Price":"Total Purchase Value"})

#Calculate the average total purchase per person
purchasebyage_merge["Avg Total Purchase per Person"] = round(purchasebyage_merge["Total Purchase Value"]/purchasebyage_merge["Total Count"], 2)

#Format the dataframe according to the requirements and display
purchasebyage_merge = purchasebyage_merge.drop(['Total Count', 'Percentage of Players'], axis=1)
purchasebyage_merge = purchasebyage_merge.style.format({'Average Purchase Price':'${:.2f}',
                                                    'Total Purchase Value':'${:.2f}',
                                                    'Avg Total Purchase per Person':'${:.2f}'})
purchasebyage_merge

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
#Get the unique SN counts and make a dataframe
purchasebysn_groupby = purchase_data.groupby("SN")['Price'].nunique()

purchasebysn_df = purchasebysn_groupby.reset_index(name='Unique Values')
purchasebysn_df = purchasebysn_df.sort_values('Unique Values',ascending = False).head(5)

#Create a merge dataframe
purchasebysn_merge = pd.merge(purchasebysn_df, purchase_data, on="SN")

#Using the above merge group it again by SN and get the count, mean and sum
sn_groupby = purchasebysn_merge.groupby(["SN"])

purchasebysn_groupby_count = sn_groupby['Price'].count()
purchasebysn_groupby_price = round(sn_groupby['Price'].mean(), 2)
purchasebysn_groupby_total = sn_groupby['Price'].sum()

#Create a merge dataframe
sn_merge = pd.merge(purchasebysn_groupby_count, purchasebysn_groupby_price, on="SN")
sn_merge = pd.merge(sn_merge, purchasebysn_groupby_total, on="SN")

#Format the dataframe according to the requirements and display
sn_merge = sn_merge.rename(columns={"Price_x":"Purchase Count",
                                    "Price_y":"Average Purchase Price", 
                                    "Price":"Total Purchase Value"})
sn_merge = sn_merge.style.format({'Average Purchase Price':'${:.2f}',
                                  'Total Purchase Value':'${:.2f}'})
sn_merge

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [27]:
#Create a new dataframe with the required fields
popularitem_df = purchase_data[["Item ID","Item Name","Price"]]

#Get the group by and get the sum, mean, & count values 
popularitem_groupby = popularitem_df.groupby(["Item ID","Item Name"])

popularitem_groupby_count = popularitem_groupby.count()
purchasebysn_groupby_price = round(popularitem_groupby.mean(), 2)
purchasebysn_groupby_total = popularitem_groupby.sum()

#Merge the claculations made above based on item id and item name
item_merge = pd.merge(popularitem_groupby_count, purchasebysn_groupby_price, on=["Item ID","Item Name"])
item_merge = pd.merge(item_merge, purchasebysn_groupby_total, on=["Item ID","Item Name"])

#Rename fields and display the head
item_merge = item_merge.rename(columns={"Price_x":"Purchase Count",
                                    "Price_y":"Item Price", 
                                    "Price":"Total Purchase Value"})
item_merge.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4        1.28                  5.12
1       Crucifer                         3        3.26                  9.78
2       Verdict                          6        2.48                 14.88
3       Phantomlight                     6        2.49                 14.94
4       Bloodlord's Fetish               5        1.70                  8.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [28]:
#Formatting, sorting and displaying the top 5 sellers
item_merge = item_merge.sort_values('Purchase Count',ascending = False).head(5)
item_merge = item_merge.style.format({'Item Price':'${:.2f}',
                                      'Total Purchase Value':'${:.2f}'
                                      })

item_merge